.git
.gitignore
.github

node_modules
**/node_modules

dist
**/dist

.turbo
**/.turbo

.cache
**/.cache

coverage
**/coverage

logs
**/logs

*.log
pnpm-debug.log*
*.map
*.tsbuildinfo
**/*.spec.ts
**/*.test.ts
**/README.md

.DS_Store

docker-compose*.yml
Dockerfile*
README.md
docs

.env
.env.*
configs/production/*.env
