node_modules
dist
.turbo
.env.*
coverage
logs/*
*.log

.certs
.env
configs/**/*.env
!configs/*.env.example
!configs/**/*.env.example

*.js.map
*.js
libs/**/src/**/*.js
libs/**/src/**/*.js.map
libs/**/src/**/*.d.ts
